<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title -->
    <title>ESAM POSTGRADOS</title>

    <!-- Favicon -->
    <link rel="icon" href="img/favicon.ico">

    <!-- Core Stylesheet -->
    <link rel="stylesheet" href="style.css">

</head>

<body>

	<div id="fb-root"></div>
	<!-- Load Facebook SDK for JavaScript -->
	<script>
		window.fbAsyncInit = function() {
			FB.init({
				xfbml : true,
				version : 'v4.0'
			});
		};

		(function(d, s, id) {
			var js, fjs = d.getElementsByTagName(s)[0];
			if (d.getElementById(id))
				return;
			js = d.createElement(s);
			js.id = id;
			js.src = 'https://connect.facebook.net/es_ES/sdk/xfbml.customerchat.js';
			fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
	</script>

	<!-- Your customer chat code -->
	<div class="fb-customerchat" attribution=setup_tool
		page_id="1926281687645459" theme_color="#2054ce"
		logged_in_greeting="Hola, ¿en que le podemos ayudar?"
		logged_out_greeting="Gracias por visitarnos, hasta luego">
	</div>
	
    <!-- ##### Preloader ##### -->
    <div id="preloader">
        <i class="circle-preloader"></i>
    </div>
    
<div id="app">
    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

        <!-- Top Header Area -->
        <div class="top-header">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="header-content h-100 d-flex align-items-center justify-content-between">
                            <div class="academy-logo">
                                <a href="#"><img src="img/logo_esam_principal.png" width="200" alt=""></a>
                            </div>
                            <div class="login-content">
                                <a href="https://esam.edu.bo/moodle"><img src="img/icono_moodle.png" width="50" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navbar Area -->
        <div class="academy-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <!-- Menu -->
                    <nav class="classy-navbar justify-content-between" id="academyNav">

                        <!-- Navbar Toggler -->
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>

                        <!-- Menu -->
                        <div class="classy-menu">

                            <!-- close btn -->
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>

                            <!-- Nav Start -->
                            <div class="classynav">
                                <ul>
                                    <li><a href="index.html">Inicio</a></li>
                                    <li><a href="index.html#postgrados">Postgrados</a>
                                        <!-- div class="megamenu">
                                            <ul class="single-mega cn-col-6">
                                                <li ><a href="#">Diplomado</a></li>
                                                <li ><a href="#">Diplomado</a></li>
                                                <li ><a href="#">Diplomado</a></li>
                                            </ul>
                                            <ul class="single-mega cn-col-6">
                                                <li ><a href="#">Maestría</a></li>
                                                <li ><a href="#">Maestría</a></li>
                                                <li ><a href="#">Maestría</a></li>
                                            </ul>
                                        </div-->
                                    </li>
                                    <li><a href="#contact">Contacto</a></li>
                                    <li><a href="index.html#about">Conócenos</a></li>
                                    <li><a href="#convenios">Convenios</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Calling Info -->
                        <div class="">
                            <div class="call-center classynav">
                               <ul>
                               <li><a href="#">{{programa.sede.nombre}}</a></li>
                               </ul>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ##### Header Area End ##### -->
    
    <!-- ##### Top Popular Courses Area Start ##### -->
    <div class="top-popular-courses-area section-padding-100-70" id="postgrados">
        <div class="container">
            <div class="row">
               <div class="col-12 col-md-6">
               		<div class="academy-blog-posts">
                        <div class="row">

                            <!-- Single Blog Start -->
                            <div class="col-12">
                                <div class="single-blog-post mb-50 wow fadeInUp" data-wow-delay="300ms">
                                    <!-- Post Title -->
                                    <a href="#" class="post-title text-center"><h3>{{programa.postgrado.categoria.nombre}} en {{programa.postgrado.nombre}}</h3></a>
                                    <!-- Post Excerpt -->
                                    <h6 class="mt-5">OBJETIVO</h6>
			                        <p>{{programa.postgrado.objetivo}}</p>
			                        <div class="mt-5">
			                            <h6><span class="fa fa-university"></span> {{programa.universidad.nombre}}</h6>
			                            <h6><span class="fa fa-tags"></span> Duración: <span v-if="programa.postgrado.duracion">{{programa.postgrado.duracion}} meses</span><span v-else>---</span></h6>
			                            <h6><span class="fa fa-clock-o"></span> <span v-if="programa.postgrado.creditaje">{{programa.postgrado.creditaje}}</span><span v-else>---</span> Horas académicas</h6>
			                            <h6><span class="fa fa-calendar"></span> Inicio: <span v-if="programa.fecha_inicio">{{format(programa.fecha_inicio)}}</span><span v-else>---</span></h6>
			                    	</div>
                                    <h6 class="mt-5">DIRIGIDO A</h6>
			                        <p>{{programa.postgrado.dirigido}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
               <div class="col-12 col-md-6">
               		<img class="card-img-top" :src="'webdata/portadas/'+programa.portada" alt="Card image cap"  @error="repararImg">
               </div>
           </div>
    	</div>           
    </div>
    <!-- ##### Top Popular Courses Area End ##### -->
    
    
    <!-- ##### CTA Area Start ##### -->
    <div class="call-to-action-area" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                      		<div class="cta-content">
	                        	<h3>{{programa.sede.nombre}}</h3>
	                            <ul class="info">
	                            	<li>
	                                	<h5><b class="fa fa-university"></b>{{programa.sede.direccion}}</h5>
	                                </li>
	                                <li>
	                                    <h5><b class="fa fa-phone"></b>{{programa.sede.telefono_fijo}}</h5>
	                                </li>
	                                <li>
	                                    <h5><b class="fa fa-mobile"></b>
	                                    <a :href="'https://api.whatsapp.com/send?phone=591'+programa.sede.telefono1+'&text=Hola,%20quisiera%20más%20información'" target="_blank" class="white underline title" style="font-size:18px" title="Envíar mensaje por Wathsapp">
	                                    	{{programa.sede.telefono1}}<i class="icofont icofont-whatsapp"></i> </a>(Whatsapp) </h5>
	                                	<h5><b class="fa fa-mobile"></b>
	                                	<a :href="'https://api.whatsapp.com/send?phone=591'+programa.sede.telefono2+'&text=Hola,%20quisiera%20más%20información'" target="_blank" class="white underline title" style="font-size:18px" title="Envíar mensaje por Wathsapp">
	                                    	{{programa.sede.telefono2}}<i class="icofont icofont-whatsapp"></i> </a>(Whatsapp) </h5>
	                                </li>
	                                <li>
	                                    <h5><b class="fa fa-facebook"></b><a href="https://www.facebook.com/unsxxbolivia"> Esuela de negocios ESAM</a></h5>
	                                </li>
	                                <li>
	                                    <h5><b class="fa fa-instagram"></b><a href="https://www.instagram.com/esambolivia"> ESAM Bolivia</a></h5>
	                                </li>
	                                <li>
	                                    <h5><b class="fa fa-youtube"></b><a href="https://www.youtube.com/channel/UCPOdS0I1yv0gNvKyUhxKUsg"> Escuela de Negocios ESAM</a></h5>
	                                </li>
	                            </ul>
	                        </div>
	                    </div>
	                    <div class="col-xs-12 col-md-6">
	                    	<div class="map" id="map"></div>
	                    </div>
            </div>
        </div>
    </div>
    <!-- ##### CTA Area End ##### -->
    
    <!-- ##### Course Area Start ##### -->
    <div class="academy-courses-area section-padding-100-0"  id="convenios">
        <div class="container">
        	<div class="row">
        		<h3 class="text-center">Nuestros Convenios</h3>
        	</div>
            <div class="row">
                <!-- Single Course Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp" data-wow-delay="300ms">
                        <div class="mr-3">
                            <img src="img/logo_unsxx.png" width="80">
                        </div>
                        <div class="course-content">
                            <a href="http://unsxx.edu.bo/"><h4>UNSXX</h4></a>
                            <p>Postgrados certificados por la Universidad Nacional Siglo XX</p>
                        </div>
                    </div>
                </div>
                <!-- Single Course Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp" data-wow-delay="400ms">
                        <div class="mr-3">
                            <img src="img/logo_fdpt.png" width="100">
                        </div>
                        <div class="course-content">
                            <a href="https://www.facebook.com/FederacionDepartamentaldeProfesionalesTarija"><h4>FDPT</h4></a>
                            <p>Convenio con la Federación de Profesionales de Tarija</p>
                        </div>
                    </div>
                </div>
                <!-- Single Course Area -->
                <div class="col-12 col-sm-6 col-lg-4">
                    <div class="single-course-area d-flex align-items-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                        <div class="mr-3">
                            <img src="img/logo_ceub.png" width="80">
                        </div>
                        <div class="course-content">
                            <a href="http://www.ceub.edu.bo/"><h4>CEUB</h4></a>
                            <p>Nuestros postgrados son avalados por la CEUB</p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- ##### Course Area End ##### -->

    <!-- ##### Partner Area Start ##### -->
    <div class="partner-area section-padding-0-100">
        <div class="container">
        	<div class="row">
        		<h3 class="text-center">Nuestra corporación</h3>
        	</div>
            <div class="row">
                <div class="col-12">
                    <div class="partners-logo d-flex align-items-center justify-content-between flex-wrap">
                        <a href="https://www.esamfc.com/"><img src="img/logo_fc.png" alt=""></a>
                        <a href="https://www.cca.edu.bo/"><img src="img/logo_cca.png" alt=""></a>
                        <a href="https://www.cybercorp.com.bo/"><img src="img/logo_cybercorp.png" alt=""></a>
                        <a href="https://ciberkidstarija.wixsite.com/website"><img src="img/logo_ciberkids.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Partner Area End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer-area">
        <div class="bottom-footer-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <p class="white"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
							Copyright &copy;<script>document.write(new Date().getFullYear());</script> Desarrollado por ESAM
							<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area Start ##### -->

</div>

    <!-- ##### All Javascript Script ##### -->
    <script src="js/jquery-2.2.4.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/plugins.js"></script>
	<script src="js/moment.min.js"></script>
	<script src="js/moment-es.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
    <script src="js/main.js"></script>
    <script src="js/details.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCOAO9oWWZN1fOVHBaWP1vHAnTfU4zRV4Q"></script>
	<script async defer crossorigin="anónimo" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v4.0"></script>
</body>

</html>